<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Edit Article</title>
</head>

<body>
    <header>
        <h1>Edit Article</h1>
    </header>
    <main>
        <section>
            <form action="/articles/<%= article._id%>" method="post" class="flex">
                <input type="text" name="title" placeholder="title" value="<%=article.title%>">
                <input type="text" name="author" placeholder="author" value="<%=article.author%>">
                <textarea name="description" cols="30" rows="10"><%= article.description%></textarea>
                <input type="text" name="tags" placeholder="tags" value="<%=article.tags%>">
                <input type="submit" value="Submit">
            </form>
            <a href="/"><button>Back to Home</button></a>
            <a href="/articles/<%= article._id%>"><button>Back to Article</button></a>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>